<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div>
        <p>Game programmer / developer with multiple shipped projects for mobile, web & desktop platforms. 
          Unity specialist with experience in Unreal, Godot, SFML, RPGMaker... <br>
          Deep and complex game mechanics pique my interest but working on even the simplest of games is the most fun I can have with my pants on. 
          I am always striving to write clean, maintainable and performant code, improve my skills and seek new opportunities to utilize them. <br>
          I also have worked on some software development projects, professionally and not. Mainly full-stack web dev, and embedded. <br>
          I am currently working solo full-time(ish) on an online server-authoritative "diablo-like" Sci-Fi ARPG. More details on this soon™.
          In my free time, I write, play guitar and mix & master for some metal music projects. \m/
        </p>
    </div>
  </div>
</section>
