<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div>
        <p>Game programmer / developer with multiple shipped projects for mobile, web & desktop platforms. 
          I specialize in the Unity Engine, but also have experience in Unreal, Godot, and some other engines.
          I also have traditional software development experience with .NET, Java, SQL, etcetera.
          I am a passionate gamer and game development, constantly improving my skills and looking for new opportunities to utilize them,
          currently working on an indie online ARPG utilizing the newest Unity technologies such as Unity 6, NGO, UGS, etcetera.
          Deep and interesting game mechanics and architecture peak my interest but I can find joy in developing even the simplest of games.
          In my free time, I write, play guitar and mix & master for some metal music projects.
          In addition, I have hobbyist experience in audio, 3D art, Arduino, Anroid, 
        </p>
    </div>
  </div>
</section>
